<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title>recordList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.js}"></script>


</head>

<body class="container">
    <div class="row">
        <h1>XXX檢索</h1>
    </div>
    <div class='row'>
        <div class="form-group col">
            <div class="col-sm-2 control-label">
                <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">新增</a>
                <button class="btn btn-info" data-toggle="modal" data-target="#qryModal">查詢</button>
            </div>


        </div>
        <div class='col-1' sec:authorize="isAnonymous()">
            <form th:action="@{/login}" method="post">
                <input type="submit" value="登入" class="btn btn-light" />
            </form>
        </div>
        <div class='col-1' sec:authorize="hasRole('ROLE_USER')">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-light" />
            </form>
        </div>
    </div>
    <div class="with:80% row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名稱</th>
                    <th>年代</th>
                    <th>圖檔</th>
                    <th width='30' th:if="${#request.isUserInRole('USER')}">修改刪除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record : ${recordPage.content}">
                    <th scope="row" th:text="${record.id}">1</th>
                    <td th:text="${record.recordName}">neo</td>
                    <td th:text="${record.year}">6</td>
                    <td>
                        <a th:href="@{/toEdit(id=${record.id})}">
                            <img th:src="@{'data:image/jpeg;base64,'+${record.photo1Display}}" />
                        </a>
                    </td>


                    <td th:if="${#request.isUserInRole('USER')}">
                        <a th:href="@{/toEdit(id=${record.id})}">edit</a>
                        <a th:href="@{/delete(id=${record.id})}">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <!-- <div th:if="${recordPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/list(size=${recordPage.size}, page=${pageNumber})}"  th:text=${pageNumber} th:class="${pageNumber==recordPage.number + 1} ? active"></a>
        </div> -->
        <nav aria-label="Page navigation example" th:if="${recordPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
            <ul class="pagination" >
                <li class="page-item"><a class="page-link" href="#" th:onclick="'gotoPage(\'' + ${pageNumber} + '\');'" th:text=${pageNumber}></a></li>
            </ul>
        </nav>
    </div>

    <div class="modal" id="qryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" th:action="@{/list}" th:object="${qryVO}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recordName" class="col-sm-2 control-label">recordName</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{recordName}"  placeholder="recordName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="col-sm-2 control-label">year</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{year}" placeholder="year" />
                            </div>
                        </div>
                                                <div class="form-group">
                            <label for="yearB" class="col-sm-2 control-label">year</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{yearB}" placeholder="yearB" />
                            </div>
                        </div>
                                                <div class="form-group">
                            <label for="yearE" class="col-sm-2 control-label">year</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{yearE}" placeholder="yearE" />
                            </div>
                        </div>
						<input type='text' id='page' name='page'></input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" id='qryBtn' class="btn btn-primary">查詢</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
<script>

function gotoPage(pageNumber) {
	$('#page').val(pageNumber);
	$('#qryBtn').click();
};


</script>

</html>